.container {
  width: 100vw;
  height: 100vh;
  * {
    color: var(--color);
  }
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  input {
    display: block;
    width: 100%;
    font-size: medium;
    margin: 5px 0;
    padding: 3px;
    background: unset;
    border: unset;
    border-bottom: 1px dashed;

    &::placeholder {
      color: var(--color);
      font-weight: lighter;
    }
  }
}

.label {
  min-width: 80vw;
  max-width: 800px;
  text-align: center;
  border-radius: 50px;
  padding: 10px;

  span {
    margin: 20px 10px;
    max-width: 100px;
    overflow: scroll;
    word-break: break-all;
  }
}

.colorPicker {
  border: unset !important;
  outline: 1px solid;
}
